---
import { NAV_ITEMS, PERSONAL_INFO } from '../consts';

const pathname = new URL(Astro.request.url).pathname;
---

<header>
  <nav >
    <div>
      <a href="/">
        {PERSONAL_INFO.name}
      </a>
      
      <div >
        {NAV_ITEMS.map(item => (
          <a 
            href={item.href} 
            class={pathname === item.href ? 'text-blue-600 font-medium' : 'text-gray-600 hover:text-gray-900'}
          >
            {item.name}
          </a>
        ))}
      </div>
    </div>
  </nav>
</header>