---
import { NAV_ITEMS } from '../consts';
---

<header>
  <div class="container">
    <nav>
      <div class="nav-links">
        {NAV_ITEMS.map(item => (
          <a href={item.href}>
            {item.name}
          </a>
        ))}
      </div>
    </nav>
  </div>
</header>
      </div>
    </div>
  </nav>
</header>