---
import { PERSONAL_INFO } from '../consts';
---

<section class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <h2 class="greeting">Hey, I'm Peggie Zhong.</h2>
      <h1 class="typewriter" id="typewriter-text">I'm </h1>
      <p class="hero-description">
        I'm a CS graduate from Arizona State University, passionate about building developer tools and advocating for better engineering practices. Currently seeking opportunities in software development.
      </p>
    </div>
    
    <div class="hero-right">
      <div class="skills">
        <h3>Technologies</h3>
        <div class="skills-grid">
        <!-- Git -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.658 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.676-1.342-.396-2.009L7.636 3.7.45 10.881c-.6.605-.6 1.584 0 2.189l10.48 10.477c.604.604 1.582.604 2.188 0l10.43-10.43c.603-.603.603-1.582-.002-2.187"/>
          </svg>
          <span>Git</span>

        </div>
        
        <!-- Python -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08z"/>
          </svg>
          <span>Python</span>
        </div>
        
        <!-- JavaScript -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z"/>
          </svg>
          <span>JavaScript</span>
        </div>
        
        <!-- Java -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M8.851 18.56s-.917.534.653.714c1.902.218 2.874.187 4.969-.211 0 0 .552.346 1.321.646-4.699 2.013-10.633-.118-6.943-1.149M8.276 15.933s-1.028.761.542.924c2.032.209 3.636.227 6.413-.308 0 0 .384.389.987.602-5.679 1.661-12.007.13-7.942-1.218M13.116 11.475c1.158 1.333-.304 2.533-.304 2.533s2.939-1.518 1.589-3.418c-1.261-1.772-2.228-2.652 3.007-5.688 0-.001-8.216 2.051-4.292 6.573M19.33 20.504s.679.559-.747.991c-2.712.822-11.288 1.069-13.669.033-.856-.373.75-.89 1.254-.998.527-.114.828-.093.828-.093-.953-.671-6.156 1.317-2.643 1.887 9.58 1.553 17.462-.7 14.977-1.82M9.292 13.21s-4.362 1.036-1.544 1.412c1.189.159 3.561.123 5.77-.062 1.806-.152 3.618-.477 3.618-.477s-.637.272-1.098.587c-4.429 1.165-12.986.623-10.522-.568 2.082-1.006 3.776-.892 3.776-.892M17.116 17.584c4.503-2.34 2.421-4.589.968-4.285-.355.074-.515.138-.515.138s.132-.207.385-.297c2.875-1.011 5.086 2.981-.928 4.562 0-.001.07-.062.09-.118M14.401 0s2.494 2.494-2.365 6.33c-3.896 3.077-.888 4.832-.001 6.836-2.274-2.053-3.943-3.858-2.824-5.539 1.644-2.469 6.197-3.665 5.19-7.627M9.734 23.924c4.322.277 10.959-.153 11.116-2.198 0 0-.302.775-3.572 1.391-3.688.694-8.239.613-10.937.168 0-.001.553.457 3.393.639"/>
          </svg>
          <span>Java</span>
        </div>
        
        <!-- React -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.41 0-.783.093-1.106.278-1.375.793-1.683 3.264-.973 6.365C1.98 8.917 0 10.42 0 12.004c0 1.59 1.99 3.097 5.043 4.03-.704 3.113-.39 5.588.988 6.38.32.187.69.275 1.102.275 1.345 0 3.107-.96 4.888-2.624 1.78 1.654 3.542 2.603 4.887 2.603.41 0 .783-.09 1.106-.275 1.374-.792 1.683-3.263.973-6.365C22.02 15.096 24 13.59 24 12.004c0-1.59-1.99-3.097-5.043-4.032.704-3.11.39-5.587-.988-6.38-.318-.184-.688-.277-1.092-.278zm-.005 1.09v.006c.225 0 .406.044.558.127.666.382.955 1.835.73 3.704-.054.46-.142.945-.25 1.44-.96-.236-2.006-.417-3.107-.534-.66-.905-1.345-1.727-2.035-2.447 1.592-1.48 3.087-2.292 4.105-2.295zm-9.77.02c1.012 0 2.514.808 4.11 2.28-.686.72-1.37 1.537-2.02 2.442-1.107.117-2.154.298-3.113.538-.112-.49-.195-.964-.254-1.42-.23-1.868.054-3.32.714-3.707.19-.09.4-.127.563-.132zm4.882 3.05c.455.468.91.992 1.36 1.564-.44-.02-.89-.034-1.345-.034-.46 0-.915.01-1.36.034.44-.572.895-1.096 1.345-1.565zM12 8.1c.74 0 1.477.034 2.202.093.406.582.802 1.203 1.183 1.86.372.64.71 1.29 1.018 1.946-.308.655-.646 1.31-1.013 1.95-.38.66-.773 1.288-1.18 1.87-.728.063-1.466.098-2.21.098-.74 0-1.477-.035-2.202-.093-.406-.582-.802-1.204-1.183-1.86-.372-.64-.71-1.29-1.018-1.946.303-.657.646-1.313 1.013-1.954.38-.66.773-1.286 1.18-1.868.728-.064 1.466-.098 2.21-.098zm-3.635.254c-.24.377-.48.763-.704 1.16-.225.39-.435.782-.635 1.174-.265-.656-.49-1.31-.676-1.947.64-.15 1.315-.283 2.015-.386zm7.26 0c.695.103 1.365.23 2.006.387-.18.632-.405 1.282-.66 1.933-.2-.39-.41-.783-.64-1.174-.225-.392-.465-.774-.705-1.146zm3.063.675c.484.15.944.317 1.375.498 1.732.74 2.852 1.708 2.852 2.476-.005.768-1.125 1.74-2.857 2.475-.42.18-.88.342-1.355.493-.28-.958-.646-1.956-1.1-2.98.45-1.017.81-2.01 1.085-2.964zm-13.395.004c.278.96.645 1.957 1.1 2.98-.45 1.017-.812 2.01-1.086 2.964-.484-.15-.944-.318-1.37-.5-1.732-.737-2.852-1.706-2.852-2.474 0-.768 1.12-1.742 2.852-2.476.42-.18.88-.342 1.356-.494zm11.678 4.28c.265.657.49 1.312.676 1.948-.64.157-1.316.29-2.016.39.24-.375.48-.762.705-1.158.225-.39.435-.788.636-1.18zm-9.945.02c.2.392.41.783.64 1.175.23.39.465.772.705 1.143-.695-.102-1.365-.23-2.006-.386.18-.63.406-1.282.66-1.933zM17.92 16.32c.112.493.2.968.254 1.423.23 1.868-.054 3.32-.714 3.708-.147.09-.338.128-.563.128-1.012 0-2.514-.807-4.11-2.28.686-.72 1.37-1.536 2.02-2.44 1.107-.118 2.154-.3 3.113-.54zm-11.83.01c.96.234 2.006.415 3.107.532.66.905 1.345 1.727 2.035 2.446-1.595 1.483-3.092 2.295-4.11 2.295-.22-.005-.406-.05-.553-.132-.666-.38-.955-1.834-.73-3.703.054-.46.142-.944.25-1.438zm4.56.64c.44.02.89.034 1.345.034.46 0 .915-.01 1.36-.034-.44.572-.895 1.095-1.345 1.565-.455-.47-.91-.993-1.36-1.565z"/>
          </svg>
          <span>React</span>
        </div>
        
        <!-- Docker -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.186m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.184-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.184-.186h-2.12a.186.186 0 00-.186.186v1.887c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 00-.75.748 11.376 11.376 0 00.692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 003.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288Z"/>
          </svg>
          <span>Docker</span>
        </div>
        
        <!-- AWS -->
        <div class="skill">
          <svg viewBox="0 0 24 24" fill="currentColor">
            <path d="M6.763 10.036c0 .296.032.535.088.714.064.18.144.375.256.58.04.08.056.16.056.24 0 .103-.064.207-.192.31l-.643.427c-.096.064-.192.096-.28.096-.112 0-.224-.056-.336-.16-.112-.112-.208-.24-.288-.375s-.16-.295-.24-.454c-.608.718-1.375 1.078-2.295 1.078-.656 0-1.183-.19-1.575-.558-.392-.383-.592-.886-.592-1.51 0-.67.237-1.214.32-1.734.624-.52 1.455-.78 2.487-.78.344 0 .704.024 1.088.08.383.048.783.12 1.191.207v-.686c0-.71-.144-1.207-.44-1.51-.288-.295-.774-.447-1.447-.447-.312 0-.632.04-.96.104-.328.064-.647.112-.943.207-.144.048-.248.08-.32.096-.064.016-.112.024-.144.024-.128 0-.192-.096-.192-.287v-.454c0-.15.016-.263.056-.32.04-.064.112-.128.207-.183.312-.16.686-.295 1.127-.399.44-.112.912-.16 1.415-.16.44 0 1.063.055 1.518.16.455.112.83.27 1.127.48.296.207.52.454.67.746.144.295.224.622.224.99v3.197zm-3.183 1.19c.336 0 .688-.063 1.063-.183.375-.127.704-.335.988-.59.175-.16.296-.335.368-.52.072-.192.104-.423.104-.686v-.335c-.296-.08-.616-.135-.95-.175-.336-.04-.655-.056-.97-.056-.687 0-1.191.135-1.51.407-.32.27-.479.67-.479 1.19 0 .495.12.862.36 1.118.247.272.607.415 1.026.83zm6.348.566c-.144 0-.24-.024-.296-.08-.056-.048-.104-.144-.135-.270l-1.511-4.98c-.032-.112-.048-.183-.048-.24 0-.096.048-.15.144-.15h.583c.151 0 .256.025.31.08.056.05.096.14.128.27l1.08 4.26 1.007-4.26c.024-.135.064-.22.12-.27.055-.05.168-.08.31-.08h.478c.151 0 .264.025.318.08.056.05.104.14.128.27l1.02 4.316 1.111-4.316c.032-.128.08-.22.128-.27.064-.05.16-.08.32-.08h.55c.097 0 .152.05.152.15 0 .032-.008.064-.016.104-.008.04-.024.096-.048.16l-1.542 4.98c-.032.128-.08.215-.136.27-.056.05-.15.08-.295.08h-.51c-.152 0-.264-.024-.32-.08-.056-.05-.104-.135-.128-.27l-1.004-4.177L9.77 15.76c-.024.135-.072.22-.128.27-.056.05-.168.08-.32.08H8.88zm10.296.15c-.44 0-.87-.048-1.295-.15-.424-.096-.784-.207-1.063-.32-.144-.08-.24-.16-.288-.24-.048-.08-.08-.16-.08-.24v-.463c0-.192.072-.29.207-.29.064 0 .128.016.192.048.072.032.18.08.32.128.289.096.6.16.934.207.336.048.664.08.99.08.528 0 .926-.088 1.199-.27.27-.18.408-.43.408-.75 0-.224-.08-.416-.24-.583-.16-.16-.454-.31-.886-.44l-1.27-.399c-.655-.207-1.143-.51-1.447-.894-.304-.384-.456-.83-.456-1.35 0-.383.08-.734.24-1.047.16-.32.384-.583.67-.798.288-.207.624-.368 1.015-.463.39-.104.813-.15 1.27-.15.192 0 .392.016.583.032.2.016.38.048.558.08.17.04.336.08.487.135.15.056.27.112.358.16.112.064.194.128.247.2.056.07.08.15.08.24v.431c0 .193-.072.29-.216.29-.08 0-.2-.032-.36-.104-.503-.232-1.07-.344-1.688-.344-.488 0-.87.072-1.135.224-.27.15-.4.375-.4.67 0 .224.088.417.256.58.175.16.488.32.944.46l1.247.391c.647.207 1.127.487 1.415.85.29.367.43.8.43 1.295 0 .398-.08.756-.24 1.08-.16.32-.39.6-.681.83-.296.224-.65.4-1.063.52-.415.127-.863.19-1.343.19z"/>
          </svg>
          <span>AWS</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="scroll-indicator">
    <a href="#projects" aria-label="Scroll to projects">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"/>
      </svg>
    </a>
  </div>
</section>

<style>
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('/images/hero-bg.png') center/cover no-repeat;
    padding-top: 80px;
    box-sizing: border-box;
  }
  
  .hero-container {
    max-width: 1400px;
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 4rem;
    align-items: center;
    padding: 2rem;
    flex: 1;
    max-height: calc(100vh - 160px);
  }
  
  .hero-left {
    text-align: left;
    min-width: 0;
  }
  
  .hero-right {
    display: flex;
    justify-content: center;
    min-width: 0;
  }
  
  .greeting {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #10b981;
    letter-spacing: 0.02em;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    min-height: 3.6rem;
    width: 100%;
  }
  
  
  .rotating-text {
    background: linear-gradient(135deg, #10b981 0%, #047857 50%, #059669 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-shift 3s ease infinite;
    font-weight: 700;
  }
  
  
  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .hero-description {
    font-size: 1.1rem;
    font-weight: 300;
    color: #666;
    line-height: 1.6;
    margin-bottom: 3rem;
  }
  
  .skills {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .skills h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
    font-weight: 300;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 2rem;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .skill:hover {
    transform: translateY(-2px);
  }
  
  .skill svg {
    width: 32px;
    height: 32px;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .skill span {
    font-size: 0.85rem;
    color: #333;
    font-weight: 300;
  }
  
  .scroll-indicator {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scroll-indicator a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #10b981;
    border: 2px solid #10b981;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    animation: bounce 2s infinite;
  }
  
  .scroll-indicator a:hover {
    color: white;
    border-color: #10b981;
    background: #10b981;
  }
  
  .scroll-indicator svg {
    width: 20px;
    height: 20px;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-3px);
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      height: 100vh;
      padding-top: 80px;
    }
    
    .hero-container {
      width: 90%;
      grid-template-columns: 1fr;
      gap: 3rem;
      text-align: center;
      max-height: calc(100vh - 160px);
    }
    
    .hero-left {
      text-align: center;
    }
    
    .greeting {
      font-size: 1.2rem;
    }

    .hero h1 {
      font-size: 2.5rem;
    }
    
    .hero-description {
      font-size: 1rem;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      gap: 1.5rem;
    }
    
    .skill svg {
      width: 28px;
      height: 28px;
    }
    
    .skill span {
      font-size: 0.8rem;
    }
    
    .scroll-indicator {
      bottom: 1.5rem;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const typewriterElement = document.getElementById('typewriter-text');
    if (!typewriterElement) return;
    
    const phrases = [
      'Denver-based.',
      'an avid learner.',
      'a Scorpio.',
      'an INFJ.',
      'empathetic.',
      'a problem solver.',
      'a spicy food lover.',
      'a communicator.'
    ];
    
    let phraseIndex = 0;
    let charIndex = 0;
    let isDeleting = false;
    const baseText = 'I\'m ';
    
    function typeWriter() {
      const currentPhrase = phrases[phraseIndex];
      const currentText = baseText;
      
      if (!isDeleting && charIndex < currentPhrase.length) {
        // Typing forward
        const rotatingPart = currentPhrase.substring(0, charIndex + 1);
        typewriterElement!.innerHTML = currentText + '<span class="rotating-text">' + rotatingPart + '</span>';
        charIndex++;
        setTimeout(typeWriter, 80);
      } else if (!isDeleting && charIndex >= currentPhrase.length) {
        // Pause at end, then start deleting
        isDeleting = true;
        setTimeout(typeWriter, 2000);
      } else if (isDeleting && charIndex > 0) {
        // Deleting current phrase
        const rotatingPart = currentPhrase.substring(0, charIndex - 1);
        typewriterElement!.innerHTML = currentText + '<span class="rotating-text">' + rotatingPart + '</span>';
        charIndex--;
        setTimeout(typeWriter, 50);
      } else if (isDeleting && charIndex === 0) {
        // Move to next phrase
        isDeleting = false;
        phraseIndex = (phraseIndex + 1) % phrases.length;
        setTimeout(typeWriter, 500);
      }
    }
    
    // Start typing after a short delay
    setTimeout(typeWriter, 500);
  });
</script>